<!DOCTYPE html>
<html lang="es" ng-app="App">
  <head>
    <meta charset="utf-8">
    <title>IONIC TEST</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui">

    <!--IONIC-->
    <link rel="stylesheet" type="text/css" href="css/ionic.min.css">
  </head>

  <body ng-controller="AppCtrl">
    <ion-side-menus>
    <ion-side-menu-content>
    <ion-header-bar class="bar-energized">
        <div class="buttons"><button class="button" ng-click="data.showDelete = !data.showDelete">Eliminar</button></div>
        <h1 class="title">HOME</h1>
        <!--<div class="buttons"><button class="button" ng-click="addTodo()">Agregar</button></div>-->
        <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="item in todo">
              {{item.name}}
              <ion-delete-button class="ion-minus-circled" ng-click="todo.splice($index, 1)"></ion-delete-button>
          </ion-item>
        </ion-list>
    </ion-side-menu-content>
    
        <ion-side-menu side="right">
          <ion-list>
            <ion-item ng-click="addTodo()">agregar item</ion-item>
            <ion-item openPopover($event)>hola</ion-item>
            <ion-item>hola</ion-item>
            <ion-item>hola</ion-item>
          </ion-list>
        </ion-side-menu>

    </ion-content>
    </ion-side-menus>  

    <script id="my-popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-header-bar>
          <h1 class="title">My Popover Title</h1>
        </ion-header-bar>
        <ion-content>
          Hello!
        </ion-content>
      </ion-popover-view>
    </script>

    <script type="text/javascript" src="js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/app/App.js"></script>
  </body>
</html>