<!DOCTYPE html>
<html lang="es" ng-app="App">
  <head>
    <meta charset="utf-8">
    <title>IONIC TEST</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <!--IONIC-->
    <link rel="stylesheet" type="text/css" href="css/ionic.min.css">
    <link rel="stylesheet" type="text/css" href="css/salesPRO.css">

    <!-- PHONEGAP -->
        <script type="text/javascript" charset="utf-8" src="phonegap.js"></script>
  </head>

  <body ng-controller="AppCtrl">


         <ion-nav-bar animation="nav-title-slide-ios7">
             <ion-nav-buttons side="right">
                <button class="button icon button-clear ion-navicon-round" ng-click="openPopover($event)"></button>
              </ion-nav-buttons>
         </ion-nav-bar>


        <ion-nav-view></ion-nav-view>

        <script id="my-popover.html" type="text/ng-template">
          <ion-popover-view>
            <ion-header-bar>
              <h1 class="title">Opciones</h1>
            </ion-header-bar>
            <ion-content>
              <ion-list>
                <ion-item ui-sref="SalesPRO" ng-click="closePopover($event)"><i class="icon icon-right ion-ios7-home" ></i> Home</ion-item>
                <ion-item ui-sref="Ventas" ng-click="closePopover($event)"><i class="icon icon-right ion-briefcase" ></i> Mis ventas</ion-item>
                <ion-item ui-sref="Clientes" ng-click="closePopover($event)"><i class="icon icon-right ion-person"></i> Clientes</ion-item>
                <ion-item ui-sref="CarroCompras" ng-click="closePopover($event)"><i class="icon icon-right ion-ios7-cart"></i> Carro de compras</ion-item>
                <ion-item ui-sref="login" ng-click="closePopover($event)"><i class="icon icon-right ion-ios7-cart"></i> Salir</ion-item>
              </ion-list>
            </ion-content>
          </ion-popover-view>
        </script>

    <script type="text/javascript" src="js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/app/Controllers.js"></script>
    <script type="text/javascript" src="js/app/Factory.js"></script>
    <script type="text/javascript" src="js/app/App.js"></script>
    

  </body>
</html>