<ion-view title="Carro de compras">

    <!--<ion-nav-buttons side="right">
      <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>-->
    <ion-content ng-controller="CarroComprasCtrl">
    <div class="button-bar">
      
    </div>

    <div class="list list-inset">
      <div class="item">
        <h2><small>Total compra: </small>{{totalCarroCompra | noFractionCurrency:0}}</h2>
      </div>
       <div class="item">
        <h3><small>Cliente:</small> Juan Pérez</h2>
      </div>
    </div>

    <div class="padding">
        <button class="button button-block button-balanced" ui-sref="Catalogo">Agregar producto</button>
        <button class="button button-block button-positive" ng-click="verCant()">Ingresar pedido</button>
    </div>
 <!--LISTADO DE PRODUCTOS--> 
    <ion-list  show-delete="shouldShowDelete">
          <ion-item class="item item item-avatar item-icon-right" ng-repeat="compra in ArrayCompra">
              <img src="{{compra.imagen}}">
              <h2>{{compra.nombreProducto}}</h2>
              <p>{{compra.precioUnidad | noFractionCurrency:0}} |  {{compra.cant}} unidades</p>

              <i class="icon ion-ios7-close-empty" ng-click="eliminarProducto($index)"></i>
          </ion-item>
      </ion-list>

     </ion-content>
</ion-view>