<ion-view title="Catálogo de productos">

    <ion-nav-buttons side="left">
      <button class="button icon button-clear ion-ios7-arrow-left" ui-sref="CarroCompras"></button>
    </ion-nav-buttons>

    <ion-content ng-controller="CarroComprasCtrl">

    <div class="button-bar bar-positive btn-salesPRO">
      <a class="button" ng-click="pestanhas(true)" ng-class="{'active': pestanhaActiva}">Catálogo</a>
      <a class="button" ng-click="pestanhas(false)" ng-class="{'active': !pestanhaActiva}">Promociones</a>
    </div>
 <!--LISTADO DE PRODUCTOS--> 
    <ion-list ng-if="pestanhaActiva">
          <a class="item item item-avatar item-icon-right" ng-repeat="producto in prods" ng-click="verProducto($index)">
          <img src="{{producto.imagen}}">
              <h2>{{producto.nombre}}</h2>
              <p><small>{{producto.precio | noFractionCurrency:0}} | {{producto.tipo}}</small></p>
              <i class="icon icon-right ion-ios7-arrow-right"></i>
          </a>
      </ion-list>

      <ion-list ng-if="!pestanhaActiva">
          <a class="item item item-avatar item-icon-right" ng-repeat="promo in promos" ng-click="verPromo($index)">
          <img src="{{promo.imagen}}">
              <h2>{{promo.nombre}}</h2>
              <p>{{promo.precio | noFractionCurrency:0}}</p>
              <i class="icon icon-right ion-ios7-arrow-right"></i>
          </a>
      </ion-list>
      
     </ion-content>
</ion-view>