<ion-view title="Detalle cliente">

    <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content ng-controller="ClienteCtrl" data-ng-init="initMapa()">

    <div class="button-bar bar-positive btn-salesPRO">
      <a class="button" ng-click="mostrarInfo(true)"> Datos</a>
      <a class="button" ng-click="mostrarInfo(false)">Historial</a>
      <a class="button" ui-sref="CarroCompras"><i class="icon ion-ios7-cart-outline"></i>  <i class="icon ion-ios7-arrow-forward"></i></a>
    </div>

 <!--DATOS CLIENTE--> 
    <ion-list ng-show="verofalso">
          <ion-item><h3><small>Nombre:</small> <strong>{{clienteGlobal}}</strong></h3></ion-item>
          <ion-item>
                <h3 ng-repeat="fecha in clientes[numeroCliente].historial" ng-show="$last"><small>Última visita: {{fecha.fecha}}</small></h3>
          </ion-item>
      </ion-list>

  <!--MAPA--> 
      <div class="card" ng-show="verofalso">
          <div class="item item-divider"> <!--item-positive-->
            <small>{{direccion}}</small>
          </div>
          <div class="item item-text-wrap" id="mapa"></div>
      </div>


      <!--HISTORIAL LISTADO--> 
      <ion-list ng-show="!verofalso">
          <ion-item class="item-divider">Historial de compras</ion-item>
          <ion-item class="item item-avatar" ng-repeat="item in clientes[numeroCliente].historial">
            <img src="images/{{item.vendedor}}.png">
              <h3>Total compra: {{item.monto | noFractionCurrency:0}}</h3>
              <p>Vendedor: {{item.vendedor}} | {{item.fecha}}</p>
          </ion-item>          
      </ion-list>


  <!--HISTORIAL--> 
      <div class="padding">
        <button class="button button-block button-positive" ng-click="showPopup()">Añadir información</button>
      </div>

  <!--INFORMACION ADICIONAL--> 
      <ion-list >
          <ion-item class="item-divider">Información adicional</ion-item>
          <ion-item class="item item-avatar" ng-repeat="comentario in clientes[numeroCliente].comentarios">
            <img src="images/{{comentario.vendedor}}.png">
              <p>{{comentario.comentario}}</p>
          </ion-item>          
      </ion-list>


      

     </ion-content>
</ion-view>