<ion-view title="SalesPRO">

    <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content>
          <figure class="img_usuario">
             <img src="images/user.png">
          </figure>
        <ion-list >
            <ion-item class="item-icon-right" ui-sref="registroVisita">
                Registro de visita
                <i class="icon icon-right ion-ios7-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Nuevo cliente
                <i class="icon icon-right ion-ios7-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Buscar cliente
                <i class="icon icon-right ion-ios7-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Vendedor
                <i class="icon icon-right ion-ios7-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="Pedidos">
                Pedidos
                <i class="icon icon-right ion-ios7-arrow-forward"></i>
            </ion-item>
        </ion-list>

     </ion-content>
</ion-view>