<ion-view title="">
	
    <ion-content ng-controller="LoginCtrl">
    <div class="padding">
    	<h1 class="title-logo"><span>SALES</span>PRO</h1>
        
        <div class="list">
		  <label class="item item-input">
		    <span class="input-label">Username</span>
		    <input type="text" id="usuario">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Password</span>
		    <input type="password" id="pass">
		  </label>
		</div>

		<!--<button class="button button-block button-outline button-calm" ui-sref="home">-->
		<button class="button button-block button-outline button-calm" ng-click="login()">
		  Ingresar
		</button>
		<a href="#" class="calm">¿Olvidó su contraseña?</a>
	 </div>
     </ion-content>
</ion-view>