<ion-view title="{{nombreProductoGlobal}}">

    <ion-nav-buttons side="left">
      <button class="button icon button-clear ion-ios7-arrow-left" ui-sref="Catalogo"></button>
    </ion-nav-buttons>


    <ion-content ng-controller="CarroComprasCtrl">
 <!--TOTAL--> 
    <div class="row">
        <div class="col col-40"><img src="{{imagen}}" class="full-image"></div>
        <div class="col col-60">
              <h3><small>Precio:</small> {{precio | noFractionCurrency:0}}</h3>
              <label class="item item-input">
                <span class="input-label">Cant.</span>
                <input type="number" value="1" max="{{stock}}" id="cantidadProducto">
              </label>
             <!-- <label for="cant">Cantidad : </label><input id="cant" type="number" value="1"/>
              <input type="number">-->
              <button class="button button-block button-small button-balanced" ng-click="anadirCarroCompras('{{nombreProductoGlobal}}', '{{imagen}}' ,{{precio}})">
                  <i class="icon icon-right ion-ios7-cart"></i> 
                  Agregar
              </button>     
        </div>
    </div>

    <ion-list>
      <ion-item><p>Nombre: <strong>{{nombreProductoGlobal}}</strong></p></ion-item>
      <ion-item><p>Código producto: <strong>{{codigo}}</strong></p></ion-item>
      <ion-item><p>Altura: <strong> {{altura}}</strong></p></ion-item>
      <ion-item><p>Potencia<strong> {{potencia}}</strong></p></ion-item>
      <ion-item><p>Tipo<strong> {{tipo}}</strong></p></ion-item>
    </ion-list>

     </ion-content>
</ion-view>