<ion-view title="{{elemento.nombre}}">

    <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content>
 <!--TOTAL--> 
    <div class="row">
        <div class="col col-40"><img src="{{elemento.imagen}}"></div>
        <div class="col col-60">
            <h3>total: </h3>
            <div class="list">
              <label class="item item-input" >
                <span class="input-label">Precio</span>
                <input type="text" placeholder="200" />
              </label>
            </div>
            <select>
                <option ng-repeat="item in unidades">{{item}}</option>
            </select> 
        </div>
    </div>
 <!--LISTADO DE PRODUCTOS--> 
    <ion-list>
          <ion-item class="item item-icon-right" >
              {{elemento.detalle}} <br/>
              <p>$5.000</small>
              <label class="toggle toggle-calm">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
             <i class="icon icon-right ion-ios7-arrow-forward"></i>
          </ion-item>
      </ion-list>

    <div class="padding">
        <button class="button button-block button-outline button-calm" ng-click="navegar('SalesPRO')">Guardar registro</button>
    </div>
     </ion-content>
</ion-view>